@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans', sans-serif;
}

ul li a {
  display: inline-block;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

ul li a:hover {
  -webkit-transform: scale(5.0);
  transform: scale(5.0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
