@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans', sans-serif;
}

ul li a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

ul li a:hover {
  -webkit-transform: scale(5.0);
  -moz-transform: scale(5.0);
}